.layout-intro{
    background:  linear-gradient(to top, #afcce4 0%, #7EE0E0 100%);
    height: 100vh;
    width: 100%;
}
.intro {
    max-width: 550px;
    padding-top: 5%;
    margin: 0 auto;
    
    color: #05182A;
    h1{
        margin: 0 auto;
        padding-top: 20%;
        font-size: 5rem;
        // color: #05182A;
        @media screen and (orientation:landscape) and (max-width: 850px) {
            padding-top:0;
        }
    }
    h2{
        margin: 0 auto;
        font-size: 3rem;
        font-style: italic;
        // color: #05182A;
    }
    div{
        padding: 20px 0;
    }
    p{
        font-size: 1.5rem;
        margin: 0;
        line-height: 2rem;
        @media screen and (orientation:landscape) and (max-width: 850px) {
            font-size: 1.2rem;
        }
    }

}
