.dragArea{
    position: relative;
    width: 400px;
    height: 100px;
    margin: 20px auto;
}

.dragPoint{
    position: absolute;
    width: 45px;
    height: 45px;
    top:10px;
    left: 5px;
    background-color: #00ff00;
    border-radius: 50%;
    cursor: pointer;
}
.nav-layout{
    display: flex;
    justify-content: center;
    
}